@font-face {
	font-family: 'DIN-Bold';
	src: local('DIN-Bold'), url('/assets/fonts/DIN-Condensed_Demi-Bold.woff');
}

.editor-styles-wrapper {
	background-color: #c2c2c2 !important;

    h2 {
        font-family: 'DIN-Bold', sans-serif!important;
        font-size: clamp(18px, 8vw, 128px)!important;
        color: #fff;
        line-height: 1!important;
        text-transform: uppercase;
        margin-block-end: 60px;
    }
}

.wp-block-block-test-hero-block {
    display: flex;
    align-items: center;
    min-height: 800px;
    position: relative;

    &__hero-pattern {
        background-repeat: repeat;
        min-height: 800px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
		width: 100%;
        min-height: 800px;
	}
}

.wp-block-block-test-hero-block
	> .block-editor-inner-blocks {
        display: flex;
        margin-left: 200px;
    }

.wp-block-block-test-hero-block
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-editor-block-list__block
	> .wp-block-button__link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #333;
    font-family: 'Karla', sans-serif;
	background-color: #00aeef;
	transition: all 0.2s;
	cursor: pointer;
	padding: 16px 48px 15px 48px;
	letter-spacing: 0.4px;
	font-size: 18px;
	line-height: 17px;
	border-radius: 30px;
	font-weight: 600;
    margin-top: 58px;
}

.wp-block-block-test-hero-block > .block-editor-inner-blocks > .block-editor-block-list__layout > h1 {
	font-family: 'DIN-Bold', sans-serif;
	font-size: clamp(18px, 8vw, 128px);
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
    margin-block-end: 60px;
}
