.hero-btn {
	margin-top: 15px;
	position: absolute;
}

.editor-styles-wrapper .has-secondary-background-color {
	background-color: #fff;
}

// .wp-block-image {
// 	max-width: 1600px !important;
// }

// .block-editor-block-list__layout {
// 	padding-left: 0 !important;
// 	padding-right: 0 !important;
// }

// .wp-block-block-test-hero-block {
// 	padding-left: 0 !important;
// 	padding-right: 0 !important;
// 	max-width: 100% !important;
// }

// .wp-block-group.has-background {
// 	padding-left: 0 !important;
// 	padding-right: 0 !important;
// 	max-width: 100% !important;
// }

// .components-resizable-box__container {
// 	max-width: 1600px !important;
// 	max-height: 100% !important;
// }
