*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Karla', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}

html {
	overflow-x: hidden;
}

@font-face {
	font-family: 'DIN-Bold';
	src: local('DIN-Bold'), url('/assets/fonts/DIN-Condensed_Demi-Bold.woff');
}

@font-face {
	font-family: 'Karla';
	src: local('Karla'), url('/assets/fonts/Karla-Regular.ttf');
}

.hero-bg > .block-editor-inner-blocks > .block-editor-block-list__layout > h1 {
	font-family: 'DIN-Bold', sans-serif;
	font-size: clamp(18px, 8vw, 128px);
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
}

.hero-bg h1 {
	font-family: 'DIN-Bold', sans-serif;
	font-size: clamp(18px, 8vw, 128px);
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
}

.wp-block-block-test-hero-block {
	max-width: 100% !important;
	&.hero-block-align-right {
		text-align: right;
	}

	&.hero-block-align-center {
		text-align: center;
	}

	&.hero-block-align-left {
		text-align: left;
	}

	img {
		width: 100%;
	}

	p {
		font-family: 'Karla', sans-serif;
		font-weight: 400;
		color: #fff;
		font-size: 24px;
	}
}

.wp-site-blocks {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.hero-bg > .wp-block-button > a.wp-block-button__link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #333;
	background-color: #00aeef;
	transition: all 0.2s;
	cursor: pointer;
	padding: 16px 48px 15px 48px;
	letter-spacing: 0.4px;
	font-size: 18px;
	line-height: 17px;
	border-radius: 30px;
	font-weight: 600;
}

.editor-styles-wrapper {
	background-color: #c2c2c2 !important;
}

.hero-bg
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-editor-block-list__block
	> .wp-block-button__link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #333;
	background-color: #00aeef;
	transition: all 0.2s;
	cursor: pointer;
	padding: 16px 48px 15px 48px;
	letter-spacing: 0.4px;
	font-size: 18px;
	line-height: 17px;
	border-radius: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}
