*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

// html {
// 	font-size: 62.5%;
// 	overflow-x: hidden;
// }

// body {
// 	box-sizing: border-box;
// 	font-family: 'Karla', sans-serif;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// 	background-color: #fff;
// }

// @font-face {
// 	font-family: 'DIN-Bold';
// 	src: local('DIN-Bold'), url('../fonts/DIN-Condensed_Demi-Bold.woff');
// }

// @font-face {
// 	font-family: 'Karla';
// 	src: local('Karla'), url('../fonts/Karla-Regular.ttf');
// }

.wp-block-block-test-hero-block {
	max-width: 100% !important;
	&.hero-block-align-right {
		text-align: right;
	}

	&.hero-block-align-center {
		text-align: center;
	}

	&.hero-block-align-left {
		text-align: left;
	}

	img {
		width: 100%;
	}
}

.hero-btn {
	color: #333 !important;
	background-color: #00aeef;
	transition: all 0.2s;
	cursor: pointer;
	padding: 10px 48px 10px 48px !important;
	letter-spacing: 0.4px;
	font-size: 18px !important;
	line-height: 1.7;
	border-radius: 30px;
	font-weight: 600;
	text-decoration: none;
}

.wp-site-blocks {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
